html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 0em;
  font-size: 4em; 
}

p {
  font-size: 2em;
}

#title {
  color: #FFF;
  position: absolute;
  float: left;
  padding: 5px 0 0 10px;
}


.button {
    position: relative;
        
    background-color: #4CAF50; 
	
    border-style: none;
    font-size: 28px;
    color: #FFFFFF;
  
  
    padding: 20px;
    width: 200px;
  
  
    text-align: center;
  
    
    -webkit-transition-duration: 0.4s;  /* Safari */
  
  
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  
}



.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}



.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* Centered text */
.button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.headline {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

